/* Fundo geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/fundo 2.jpg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 1300px;
    background-position-y: 1100px;
}

/* HEADER */
header {
    background-color: #e29313;
    padding: 10px 0;
    box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

#logo {
    width: 260px;
}

/* NAV BAR */
nav {
    width: 100%;
    background: #000;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 6px;
    transition: .2s;
}

nav a:hover,
nav .active {
    background: #EC8C2C;
}

/* SESSÃO SOBRE */
.sobre-container {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

.sobre-box {
    display: flex;
    background: #fff;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    gap: 40px;
}

.sobre-texto h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #000;
}

.sobre-texto p {
    font-size: 17px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.sobre-img img {
    width: 350px;
    border-radius: 12px;
}

/* VALORES */
.valores-titulo {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 28px;
}

.valores-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.valor-card {
    background: white;
    width: 300px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    transition: .2s;
}

.valor-card:hover {
    transform: scale(1.05);
}

.valor-card h3 {
    color: #EC8C2C;
    margin-bottom: 10px;
}

/* FOOTER */
.footer {
    background: #EC8C2C;
    color: white;
    padding: 40px 0;
    margin-top: 60px;
}

.footer-content {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: #60350a;
}

.footer-logo img {
    width: 130px;
}

.footer-divider {
    border-color: white;
    margin: 30px 0;
}

.footer-copy {
    text-align: center;
    font-size: 14px;
}
